<div>
  <h1>Welcome to the Dashboard</h1>
  <p>This is your dashboard view.</p> 
  <div>
    <%= pb_rails("user", props: {
      name: "Anna Black",
      title: "Remodeling Consultant",
      orientation: "horizontal",
      align: "left",
      avatar_url: "https://randomuser.me/api/portraits/women/44.jpg"
      }) %>
  </div>
</div>